.filter__container {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100vw;
  padding: var(--container-padding);
  background-color: var(--white---primary);
  z-index: 20;
}

.filter__item {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.filter__top {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.filter__close {
}
.filter__reset {
}
.filter__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter__item {
}
.filter__buttons {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
.filter__button {
  > * > * {
    pointer-events: none;
  }
  > * > input {
    display: none;
  }
}
.filter__label {
  border-radius: 8px;
  padding: 4px;
  min-width: 112px;
  background: var(--icons);
  text-align: center;
  color: var(--imput-text-field);
}
.filter_search {
}

.search__btn {
  position: fixed;
  bottom: 20px;
  width: calc(100% - var(--container-padding) * 2);
  max-width: calc(var(--container-max-width) - var(--container-padding) * 2);
  flex-direction: column;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.container {
  width: 100%;
  position: relative;
}
