.container {
  position: relative;
  margin-top: 24px;
}
.card__list_container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); 
  gap: 30px 10px;
  margin-bottom: var(--navbar-height);
}

.card__item {
  width: 100%; 
}
