.card {
}
.card__image_container {
  display: flex;
  gap: 12px;
  overflow: auto;
}
.card__image {
  max-width: 200px;
  aspect-ratio: 1;
}
.card__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.card__image_container {
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1;
  margin-bottom: 4px;
  > img{
    object-fit: cover;
  }
}

.card__like_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  > span {
    margin-right: 20px;
  }
}
