.default {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 202%;
  @media (min-width: 360px) {
    font-size: 11px;
  }
  @media (min-width: 412px) {
    font-size: 12px;
  }
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}
.subtitle {
  font-family: var(--font-family);
  font-weight: 590;
  font-size: 14px;
  line-height: 145%;
  @media (min-width: 360px) {
    font-size: 15px;
  }
  @media (min-width: 412px) {
    font-size: 18px;
  }
}

.btn{
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 129%;
}

.medium {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.black {
  color: var(--labels-primary);
}
.white {
  color: var(--white---primary);
}
.gray {
  color: var(--gray-backgr-element);
}
.btn{
  color: var(--button-dark-defoult);
}