@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body,
html,
#root {
  height: 100%;
  min-height: 100%;
}
.wrapper {
  background-color: var(--background-color);
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;
}
.main {
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
